name: Build and push the ubuntu 16.04 base

on:
  workflow_dispatch:

jobs:
  ubuntu-1604:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./ubuntu_1604
          file: ./ubuntu_1604/Dockerfile
          push: true
          tags: andrewdavidsmith/ubuntu-1604:latest
